// colors
$primary-color: #282c33;
$secondary-color: #c778dd;
$color_1: white;
// layouts

$layout-col1: calc(87vw - 171px);
$layout-col2: calc(87vw - 420px);

$card-height: 300px;
$card-width: 300px;
